Thumbs.db
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
/[Bb]in
/[Bb]in/*.obj
/[Dd]ebug*/
/[Dd]ebug*/*.obj
*.sbr
obj/
/[Rr]elease
/[Rr]elease*/*.obj
/Projekt/[Rr]elease*/
/Projekt/[Dd]ebug*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.sdf
*.opensdf